.card{
background-image:url("https://www.vvitguntur.com/images/slider3/vvit_drone_4k-min.jpeg");
background-size:cover;
text-align:center;
height:100vh;
width:100vw;
}
.mainheading{
color:blue;
font-size:70px;
}
.paragraph{
color:blue;
font-size:40px
}
.buttonstyle{
    color:white;
    font-size:30px;
    border-radius:25px;
    border-width:3px;
    background-color:#25b1cc;
}
.cards{
text-align:center;
background-color:white;
border-top-left-radius:20px;
border-top-right-radius:20px;
padding:0px;
}
.coloring{
font-width:20px;
font-size:15px;
}

